/*Made by: Siebe van der Haring*/
header
{
    background: linear-gradient(rgb(59,59,59), black);
    color: white;
    width: 100%;
    height: 60px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Gill Sans MT";
    text-align: center;
}

aside
{
    background: linear-gradient(dodgerblue, lightblue);
    height: 850px;
    color: white;
    padding-left: 10px;
    margin: 0px;
    padding-right: 40px;
    float: left;
    padding-top: 60px;
    font-family: "Gill Sans MT";
}


body
{
    margin: 0px;
    overflow: hidden;
}
a
{
    color: white;
    font-size: 16px;
    text-decoration-line: none;
}
li
{
    list-style-type: square;
}
h2
{
    color: black;
    font-family: "Gill Sans MT";
    top: 60px;
    left: 330px;
    font-size: 32px;
    font-weight: bold;
}
h1
{
    margin: 0px;
}
#wrapper
{
    font-family: "Open Sans";
    overflow: scroll;
    height: 950px;
    padding-left: 20px;
    border-left: 5px solid black;
}

aside h2
{
    font-family: "Gill Sans MT";
    color: white;
}

footer
{
    background: linear-gradient(black, grey);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 20px;
    padding: 0px;
    text-align: center;
    color: white;
}